/*
CSS File
By Ulysse Valdenaire
01/08/2021
*/

body {
  background: black;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
}

form {
  width: 550px;
  margin: auto;
  line-height: 25px;
  padding: 40px;
  background: #2b2b4a;
  color: white;
}

.element {
  margin-bottom: 20px;
}

.text {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  text-align: center;
  margin: auto;
}

.button {
  margin: auto;
}

.text:invalid {
  background: rgb(187, 57, 57);
}

p,
h1,
h3,
li {
  color: white;
}

#container {
  width: 50%;
  margin: auto;
}

@media screen and (max-width: 800px) {
  form {
    padding-right: 20px;
    width: 300px;
  }
}
